
.calculator-container{

}

.personal-container 
{

}

.input-field{
    width: 200px;
}

.calculator-welcome{
    text-align: center;
}
.calculator-inputs{

}
.apartment-input{
    border:1px solid black;
}