
.calculator-container{

}

.personal-container 
{

}

.input-field{
    width: 200px;
}

.calculator-welcome{
    text-align: center;
}
.calculator-inputs{

}
.calculator-main{
    background-color: #e68900;

}