
  .furnitureList{
    max-height: 70vh; 
    overflow-y: scroll; 
  }
  .furnitureList::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .furnitureList::-webkit-scrollbar-track {
    background: #f1f1f1; 

  }
   
  /* Handle */
  .furnitureList::-webkit-scrollbar-thumb {
    background: black; 
    border-radius:5px;
  
  }
  
  /* Handle on hover */
  .furnitureList::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  /* .apartament-input{
    margin-bottom: 5px;
  } */