@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Exo:ital,wght@0,100..900;1,100..900&display=swap');

.navStyle {
    background-color: #333;
    padding: 10px;
}
.ulStyle {
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
}
.liStyle {
    margin: 0 10px;
}
.linkStyle {
    color: #fff;
    text-decoration: none;
}
.linkStyle:hover {
    color: darkorange;
    cursor: pointer;
}